# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.pytest_cache/
.mypy_cache/
*.egg-info/

# БД
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Логи
*.log

# Секреты
.env
venv39/
*.bak
*.tmp
